

/*====================================== Input windows -- Ex: Register - Window ============================================ */


/*---------------Div Holder----------------------------------------*/
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}



.form-group {
    margin-bottom: 1rem;
}

 



/*.form-text {
    display: block;
    margin-top: .25rem;
}*/



    





.colom {
   margin-top:25px;
}






/*<----------------Input Container-------------------------->*/
.inputContainer {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-top: 2%;
    padding: 20px;
    min-width: 250px;
    max-width: 450px;
    width: 30%;
    background: linear-gradient(to bottom, rgba(48, 43, 59) 50%, #2a222d 80%);
    color: rgb(14, 196, 255);
    border: solid 1px rgb(64, 59, 64);
    box-shadow: 0px 0px 40px black;
    border-radius: 10px;
    font-weight: bold;
    font-family: Andale Mono, monospace;
}


 





/*<----------------Title-------------------------->*/
.title {
    position: relative;
    text-align: center;
    margin: auto;
    font-weight: 900;
    color: rgb(255, 193, 100);
    font-size: 34px;
}





/*<---------------Sub-Title-------------------------->*/

.subTitle {
    display: block;
    text-align: center;
    color: #ffe668;
    font-weight: bold;
    font-size: 20px;
}




/*<---------------Lower-Sub-Title-------------------------->*/
.lowerSubTitle {
    display: block;
    text-align: center;
}






/*<----------------Lines-------------------------->*/
.hrSub {
    border-top: 2px solid rgb(81, 81, 81);
}


.hrTitle {
    width: 100%;
    border-bottom: 2px solid rgb(255, 226, 0);
}










/*<----------------Text - Box-------------------------->*/
.textArea {
    min-height: 100px;
    background-color: rgb(255, 233, 207);
}




    .textArea:focus {
        background-color: rgb(255, 228, 153);
    }




    textArea:hover {
        background-color: aquamarine;
    }
    









/*<----------------Inputs-------------------------->*/
.inputDark {
    font-weight: 900;
    background-color: rgb(190, 254, 226);
    color: rgb(17, 74, 10);
    margin-top: 5px;
}


    .inputDark:hover {
        background-color: rgb(254, 244, 168);
        border: 2px solid rgb(0, 162, 255);
        border-radius: 5px;
    }




    .inputDark:focus {
        outline: none !important;
        background-color: rgb(165, 222, 255);
        border: 2px solid rgb(0, 162, 255);
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgb(4, 176, 255);
    }









/*<----------------Button-------------------------->*/
.blue-dark-button {
    border-radius: 4px;
    /*border: 2px solid rgb(107,107,107);*/
    border: none;
    outline: none;
    width: auto;
    height: 40px;
    background: linear-gradient(to bottom, rgb(0, 162, 255) 50%, rgb(0, 162, 255) 80%);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: Andale Mono, monospace;
    font-size: 20px;
}



    .blue-dark-button:hover {
        background: linear-gradient(to bottom, rgb(80,86,105) 50%, #6a809c36 80%);
        color: rgb(155,255,131);
    }




    .blue-dark-button:focus {
        outline: none;
        box-shadow: 0 0 0 2pt rgb(144, 255, 122);
    }



    .blue-dark-button:active {
        background-color: deepskyblue;
        color: yellow;
        outline: none;
        box-shadow: none;
    }



















/*================== || MESSAGES ||=======================================================================================*/

.base-Message {
    top: 50px;
    padding: 10px;
    border-radius: 40px;
    text-align: center;
    justify-content: center;
    position: fixed;
    width: 200px;
    height: auto;
    max-width: 200px;
    max-height: 400px;
    opacity: 0.97;
    z-index: 100;
    font-weight: bold;
    font-family: Andale Mono, monospace;
 
}



    .base-Message p {
        background-color: rgb(0, 0, 0, 0.8);
        filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
    }


.sucsess-Message {  
    color: lime;
}



.error-Message {
    color: red;
}



/*LOADING - MSG -----------------------------------------------------------------------------------------------------------*/
.loading-Message {
    animation: loading 0.1s infinite linear;
}


@keyframes loading {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(359deg);
    }
}











/*================== || User - HTML - Account Options etc.||=======================================================================================*/
  .user-Html-Container
  {
   float: right;
   width: fit-content();
   height:auto;
  }


    .user-Html-Container a {
        margin: 0 10px 0 10px;
        font-weight: bold;
        font-family:Vrinda;
        font-size: 18px; 
    }












/*================== ||Graph ||=======================================================================================*/

.graphContainer {
    position: relative;
    max-width: 80vw;
    height: 350px;
    background: rgb(60,7,51);
    background: radial-gradient(circle, rgba(60,7,51,1) 0%, rgba(14,14,29,1) 100%);
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    
    margin: auto;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgb(0, 251, 255);
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
}






.graphData {
    background: rgb(0,255,145);
    background: radial-gradient(circle, rgba(0,255,145,1) 23%, rgba(0,255,226,1) 100%);
    /*background-color: rgb(205, 255, 163);*/
    border: solid 2px black;
    border-top: solid 5px rgb(214, 9, 111);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    display: grid;
    width: auto;
    margin-top: auto;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 70px;
    text-align: center;
    min-width: 90px;
    box-sizing: border-box;
    box-shadow: 5px -10px 8px black;
}




    .graphData:hover {
        background: rgb(118,241,194);
        background: radial-gradient(circle, rgb(205, 255, 163) 0%, rgba(202, 255, 117,1) 100%);
        border-top: 5px solid orange;
    }



.graphDataTemp {
    margin: 20px auto;
    font-weight: 900;
    color: blue;
    filter: drop-shadow(1px 1px 2px blue);
}




.graphDataTime {
    margin: auto auto 20px auto;
    font-weight: 900;
    color: black;
    filter: drop-shadow(1px 1px 4px #4444dd);
    font-family: DotumChe;
    font-size: 14px;
}




       .innerGraphHolder
       {
           display:flex;
           min-width:auto;
           box-sizing: border-box;
           box-sizing: border-box;
           min-width: 1000px;
       }




.dataInfoContainer {
    border-top: 2px solid rgb(61, 123, 255);
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(31,67,112,1) 100%);
    display: table-row;
    height: 25px;
    min-width: 1000px;
    width:inherit;
    white-space: nowrap;
    box-sizing: border-box;
}




.dataInfo {
    color: rgb(255, 180, 82);
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 800;
    /*font-family:FangSong;*/
    font-family:'Noto Mono';
    font-size: 14px;
}

.dataInfo:hover
{
    background-color:black;
    border: solid 1px red;
    border-radius: 4px;
    padding: 5px;
}