





/*=============|| MIDDLE ||=============================================================*/
/*Ex. when Adding padding it holds it only in the element area does not make the elelemnt bigger*/
* {
    box-sizing: border-box;
}


/*--------|| HTML - BODY ||--------------------------------------------------------------------*/
html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}



/*-------|| HTML || ----------------------------------------------------------------------------*/
html {
    position: fixed;
}




/*--------|| BODY ||-----------------------------------------------------------------------------*/
body {
    background-color: lime;
}











/*-------|| APP - Content || ------------------------------------------*/
#app {
    height: calc(100% - 50px);
    width: 100%;
    background-color: aqua;
}




a {
    color: #009579;
}








/*--------|| Wrappers ||---------------------------------------------------------------------------*/
.wrapper-1 {
    height: 100%;
    display: flex;
}

.wrapper-2 {
    overflow: hidden;
    width: 100%;
}












/*=============|| TOP ||============================================*/
.top-bar {
    height: 50px;
    max-width: 100%;
    overflow: hidden;
    background-color: sandybrown;
}









 





/*=============|| LEFT ||============================================*/
/*-------|| SideBar - Left || ----------------------------------------*/
.left-bar {
    background-color: red;
    min-width: 50px;
    max-width: 200px;
}





.left-bar__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

    .left-bar__link:hover {
        background: rgba(255, 255, 255, 0.05);
    }






#app,
.top-bar,
.left-bar {
    padding: 10px;
}




    .left-bar > h1,
    .top-bar > h1 {
        margin: 0px;
    }













