


 
/*=============|| MIDDLE ||=============================================================*/
/*Ex. when Adding padding it holds it only in the element area does not make the elelemnt bigger*/
* {
    box-sizing: border-box;
}


/*--------|| HTML - BODY ||--------------------------------------------------------------------*/
html, body {
    padding: 0;
    margin: 0; 
    width: 100%;
    height: 100%;
    overflow: hidden;
     --scrollbarBG: rgb(70, 103, 109);
    --thumbBG: rgba(81, 74, 85, 0.78); 
}



/*-------|| HTML || ----------------------------------------------------------------------------*/
html {
    position: fixed;
}




/*--------|| BODY ||-----------------------------------------------------------------------------*/
body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}











/*-------|| APP - Content || ------------------------------------------*/
#app {
    width: 100%;
    height: calc(100% - 50px);
    background: rgb(22,26,54);
    background: radial-gradient(circle, rgba(22,26,54,1) 0%, rgba(37,32,32,1) 100%);
    overflow-y: auto;
    display: flexbox;
    align-items: flex-start;
}




a {
    color: #009579;
    text-decoration: none;
}


    a:hover {
        color: aqua;
    }
 



/*--------|| Wrappers ||---------------------------------------------------------------------------*/
.wrapper-1 {
    height: 100%;
    display: flex;
}

.wrapper-2 {
    overflow: hidden;
    width: 100%;
}







   


/*=============|| TOP ||============================================*/
.top-bar {
    height: 50px;
    max-width: 100%;
    overflow: hidden;
    background: rgb(44, 58, 57);
    background: linear-gradient(180deg, rgba(80,80,97,1) 2%, rgba(20,44,57,1) 7%, rgba(70,70,85,1) 11%, rgba(28,31,32,1) 90%);
}




.top-bar > a
{
    margin: 0 15px 0 15px;
}






 





/*=============|| LEFT ||============================================*/
/*-------|| SideBar - Left || ----------------------------------------*/
.left-bar {
    min-width: 150px;
    max-width: 150px;
    /*    background: rgb(84,84,84);
    background: linear-gradient(90deg, rgba(84,84,84,1) 0%, rgba(32,31,30,1) 1%, rgba(59,57,59,1) 89%, rgba(30,28,31,1) 94%, rgba(82,80,77,1) 95%);
*/


    background: rgb(93,93,93);
    background: linear-gradient(90deg, rgba(93,93,93,1) 0%, rgba(32,33,34,1) 1%, rgba(39,43,55,1) 5%, rgba(60,47,60,1) 93%, rgba(30,28,31,1) 96%, rgba(50,55,59,1) 97%);
    border: 1px solid rgb(75, 75, 87);
    /*font-family:'Trajan Pro 3';*/
    /*font-family: Courier New, Courier, monospace;*/
    font-family: Vrinda;
    font-size: 20px;
    font-weight: 900;
}






.left-bar__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

    .left-bar__link:hover {
        background: rgba(255, 255, 255, 0.05);
    }







#app, .top-bar,
.left-bar {
    padding: 10px;
}




/*    .left-bar > h1,
    .top-bar > h1 {
        margin: 0px;
    }
*/












