@using Leanheat.Blazor.Client.Components

<div class="top-row pl-4 navbar navbar-dark topBarMenu" style="background-color: rgba(0, 0, 0, 0);">
    <a class="navbar-brand" href="">Leanheat</a>
    <div>
        <a href="">
            <img src="/img/TopMenu/padlock-open-icon.png" /> Log In
        </a>
        <a href=""> <img src="/img/TopMenu/padlock-closed-icon.png" /> Log Out</a>
        <a href="/Register" ><img src="/img/TopMenu/Register-icon.png" /> Register</a>
    </div>

    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>


 

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <ul class="nav flex-column">
        <li style="height: 60px; width: auto;"></li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="projekt1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Projekt1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="projekt2">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Projekt2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="projekt3">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Projekt3
            </NavLink>
        </li>
    </ul>
</div>



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
 
}
